
body{
}
h1 {
    text-align: center;
}

form {
   text-align: center;
}

table {
    margin: 10px auto;
}

td,
th {
    text-align: center;
    padding: 10px;
    border: solid black 1px;
}

.claseFormulario {
    padding: 10px;
}

